<a href="https://colab.research.google.com/github/KOLLAVARSH/python-new/blob/Module2/Module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 

sample = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
sample.pop(0)
sample.pop(3)
sample.pop(3)
print(sample)

['Green', 'White', 'Black']

In [ ]:
##Create a function which accepts two inputs from the user and compute nCr

def nCr(a,b):
   return(fact(a)/(fact(b)
                 *fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
    rev=1
    for i in range(2,a+1):
      rev =rev*1
    return rev
print(int(nCr(a,b)))

7
9
1

In [ ]:
##Program to get the difference between the two lists
list1 = [1 , 3 , 5 , 7 , 9]
list2 = [1 , 2 , 4 , 6 , 7, 8]
x = set(list1)
y = set(list2)
def diff(x,y) :
  p = x.difference(y)
  q = y.difference(x)
  r = list(p)
  s = list(q)
  g = r + s
  print(g)
diff(x,y)

[9, 3, 5, 8, 2, 4, 6]

In [ ]:
##Program to find the second smallest number and second largest number in a list
list = [4, 6, 9, 2, 1]
def dc() :
  a = sorted(list)
  small2 = list[1]
  large2 = list[-2]
  print(small2)
  print(large2)
dc()

6
2

## Given a list of numbers of list, write a Python program to create a list of tuple shaving first element as the number and second element as the square of the number

In [ ]:
a = [6,7,8,9,1]
b = []
for i in a :
  c = (i,i*i)
  b.append(c)
  c = tuple(b)
print(c)

((6, 36), (7, 49), (8, 64), (9, 81), (1, 1))

#Given list of tuples, remove all the tuples with length K. Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] Explanation : (4, 5) of len = 2 is removed.

In [ ]:
a = [(4,5) , (4,) , (8,6,7) , (1,) , (3,4,6,7)]
i = 0
while i < len(a) :
 if len(a[i]) == 2 :
   a.pop(i)
 else :
    i = i + 1
    print(a)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

##Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).Sample Input: (n=5) :Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
a = [1,2,3,4,5]
b = []
for i in a : 
   c = (i,i*i) 
   b.append(c)
   c = dict(b)
print(c)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
##Program to remove a key from a dictionary

myDict = {'a':1,'b':2,'c':3,'d':4}
if 'a' in myDict: 
    del myDict['a']
print(myDict)

{'b': 2, 'c': 3, 'd': 4}

In [ ]:
##Program to get the maximum and minimum value in a dictionary.

a = {100,485,5738,4448,1000,378}
print(max(a),min(a))

5738 100

In [ ]:
##Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations

a= "shr caption is kane willimson"
print(a.split())
print(a[2:8])

['shr', 'caption', 'is', 'kane', 'willimson']
r capt

In [ ]:
##Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements

a= "srh won by 9 wickets against rcb"
print(p.count("i"))

2

In [ ]:
##Program for replacing one substring by another

p="kanr willamson"
print (p.replace("r" , "e" ))

kane willamson

In [ ]:
##Program to Acronym generator for any user input 

import random
a=input("enter the command ")
if "kane"==a:
    for x in range(6):
        a=random.randint(1,6)
        print(a)

enter the command kane
4
1
5
6
6
2

In [ ]:
##Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.

def string(a):
    b=0;c=0
    for x in a:
        if x.isupper():
           b=b+1
        else:
           c=c+1
    print("the lower values", b)
    print("the upper values", c)

string("KANEwillimson")

the lower values 4
the upper values 9

In [ ]:
##Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

a=['abc', 'xyz', 'aba', '1221' ]
c=0
for x in a :
    if len(x)>=2:
        if x[0]==x[-1]:
            c=c+1
print("the string of length 2 is",c)

the string of length 2 is 2